# Dependencies
node_modules/
/node_modules
npm-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.*
!.env.example

# Archivos de compilación
dist/
/dist-vite
build/
out/
/src-tauri/target

# Archivos de caché
.cache/
.parcel-cache/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de registro
*.log
logs/

# Archivos temporales
temp/
tmp/
.tmp/

# Archivos específicos de Electron
electron-builder.yml

# Ignorar problemas de fin de línea (LF/CRLF)
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
